article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}
body {
  background-color: #333;
}
h1 {
  font-size: 32px;
}
h1, p {
  color: #FFF;
  text-align: center;
}
canvas {
  display: block;
  margin: 10px auto;
  background-color: #666;
}

#buttonControls{
  text-align:center;
}
#playerScores{
  display:inline-block;
  min-width:200px;
  background-color:#bbb;
}

#leftButton{
  background-image: url('left.png');
  width:100px;
  height:50px;
  border-width:1px;
  border-style:solid;
  border-radius: 15px;
  margin:15px;
}

#rightButton{
  background-image: url('right.png');
  width:100px;
  height:50px;
  border-width:1px;
  border-style:solid;
  border-radius: 15px;
  margin:15px;
}

#winMessage{
  text-align:center;
  color: #FFFFFF;
}
