article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

body {
  background-color: #333;
}

h1 {
  font-size: 32px;
}

h1, p {
  color: #FFF;
  text-align: center;
}

canvas {
  display: block;
  margin: 10px auto;
  background-color: rgba(149, 149, 149, 0.84);
  border-style: solid;
  border-color: #3effff;
  border-width: 5px;
  box-shadow: 0 0 20px #9ecaed;
}

#buttonControls{
  text-align:center;
}

#playerScores{
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:18pt;
  font-weight:bold;
  display:inline-block;
  padding:20px;
  background-color:rgba(128, 128, 128, 0.5);
  border-style: solid;
  border-color: #3effff;
  border-width: 3px;
  box-shadow: 0 0 20px #9ecaed;
}

#leftButton, #rightButton, #leftButton2, #rightButton2{
  background-color: rgba(0,0,0,0);
  width:100px;
  height:50px;
  border-color: #3effff;
  border-width:1px;
  border-style:solid;
  border-radius: 15px;
  margin:15px;
}

#leftButton:hover, #rightButton:hover{
  cursor:pointer;
  background-color: rgba(40,200,200, 0.2);
}

#leftButton:active, #rightButton:active{
  border-width: 3px;
}

#leftButton, #leftButton2{
  background-image: url('media/images/left.png');
}

#rightButton, #rightButton{
  background-image: url('media/images/right.png');
}

.dialogText{
  text-color:'#0FF';
}

#winPopup{
  text-align:center;
  /*background-image:url('media/images/dialogBackground.png');*/
}

#gameChoice{
  text-align:center;
  /*background-image:url('media/images/dialogBackground.png');*/
}

#directions{
  font-family:Helvetica;
  text-align:center;
  color:#ddd;
}

.ui-widget-overlay {
  background: #000;
}
